.navbar2{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10vh;
    background-color: rgba(3, 3, 48,0.8);
    color: white;
    align-items: center;
    
}
.navbar2 :hover{
    transform: scale(1.08);
    color:aliceblue;
    box-sizing: border-box;
}
