.navbar2{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10vh;
    background-color: rgb(70, 46, 46);
    color: white;
    align-items: center;
    
}
.navbar2 :hover{
    transform: scale(1.08);
    color: rgb(84, 99, 235);
    box-sizing: border-box;
}